<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="parent" abstract="true">
		<property name="age" value="18" />
	</bean>

	<bean id="user" class="com.hwang.study.domain.User" parent="parent">
		<property name="name" value="hwang" />
	</bean>

	<bean id="p" class="com.hwang.study.domain.ProductFactory" factory-method="getObject"/>

</beans>
